{% load static %}

<html>
    <head>
        <title>Invitation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/invapp.css' %}">
    </head>
    <body>
        <center>
        <img src="{% static "invapp/img/invitation.png"%}" width="750px"/>
        <img src="{% static "invapp/img/image.png"%}" style="max-height:500px"/>
        <div>
            <h1>謹啓</h1>
            <h2>皆様におかれましては</h2>
            <h2>ますますご清祥のこととお慶び申し上げます</h2>
        </div>
        <div>
            <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1609410808&redirect_uri=http://stkc.pythonanywhere.com
&state={{ random_state }}&scope=openid%20profile">a) }}"></a>
            <h2>このたび　私たちは結婚をすることになりました</h2>
            <h2>つきましては　日頃お世話になっております皆様に</h2>
            <h2>感謝を込めて　ささやかな小宴を催したく存じます</h2>
        </div>
        <div>
            <h2>ご多用中　誠に恐縮ではございますが</h2>
            <h2>ぜひご出席をいただきたく　ご案内申し上げます</h2>
        </div>
        <div>
            <h1>謹白</h1>
            <h2>2019年8月吉日 </h2>
        </div>
        <div align="center">
            <a href="{% url 'detail' %}"><img src="{% static "invapp/img/インフォメーション.png"%}" width="250px"/></a>　　
            <a href="https://goo.gl/maps/pJLducd8Eb9YTRm19"><img src="{% static "invapp/img/アクセス.png"%}" width="250px"/></a>
        </div>
        </center>
    {% block content %}
    {% endblock %}
    </body>
</html>