{% load static %}

<html>
    <head>
        <title>Invitation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/invapp.css' %}">
    </head>
    <body>
        <center>
        <img src="{% static "invapp/img/インフォメーションピクト.png"%}" width="250px"/>
        <div>
            <h2>20ンピ年10月19日（土曜日）</h2>
            <h2>受付　11時xx分</h2>
            <h2>受付　12時xx分</h2>
            <h2>披露宴　13時xx分</h2>
        </div>
        <div>
            <h2>大阪中央公会堂</h2>
            <h2>にゃんご</h2>
            <h2>にゃんご</h2>
        </div>
        <div>
            <h2>返信をお願い致します</h2>
        </div>
        <div>
            <h1><a href="/input/"><img src="{% static "invapp/img/入力アイコン.png"%}" width="250px"/></a></h1>
        </div>
        </center>
    </body>
</html>