{% load static %}

<html>
    <head>
        <title>Invitation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/invapp.css' %}">
    </head>
    <body>
        <center>
        <img src="{% static "invapp/img/インフォメーションピクト.png"%}" style="max-height:500px"/>
        <img src="{% static "invapp/img/image.png"%}" style="max-height:500px"/>
        <div>
            <p>2019年10月19日（土曜日）</p>
            <p>受付　11時xx分</p>
            <p>受付　12時xx分</p>
            <p>披露宴　13時xx分</p>
        </div>
        <div>
            <p>大阪中央公会堂</p>
            <p>にゃんご</p>
            <p>にゃんご</p>
        </div>
        <div>
            <p>返信をお願い致します</p>
        </div>
        <div>
            <h1><a href="/">top</a></h1>
        </div>
        </center>
    </body>
</html>