{% load static %}

<html>
    <head>
        <title>Invitation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/invapp.css' %}">
    </head>
    <body>
        <center>
            <form action="" method="post">
                <table>{{form1.as_table}}</table>
            </form>
        <div>
            <h2>返信をお願い致します</h2>
        </div>
        <div>
            <h1><a href="/send_page/"><img src="{% static "invapp/img/送信アイコン.png"%}" width="250px"/></a></h1>
        </div>
        </center>

    </body>
</html>